iosv-0#sh run
Building configuration...

Current configuration : 4204 bytes
!
! Last configuration change at 05:45:04 UTC Sat May 10 2025 by cisco
!
version 15.9
service timestamps debug datetime msec
service timestamps log datetime msec
no service password-encryption
!
hostname iosv-0
!
boot-start-marker
boot-end-marker
!
!
vrf definition MGMT
 !
 address-family ipv4
 exit-address-family
!
enable secret 9 $9$iXY20edUBxZ9zN$YJGp7d8rYXae6cx.d.C1pXIe9aF01nHvLZnQUIq3a/M
enable password cisco
!
no aaa new-model
!
!
!
mmi polling-interval 60
no mmi auto-configure
no mmi pvc
mmi snmp-timeout 180
!
!
!
!
!
!
!
!
!
!
!
ip flow-cache timeout active 1
no ip domain lookup
ip domain name virl.info
ip cef
no ipv6 cef
!
multilink bundle-name authenticated
!
!
!
!
username cisco privilege 15 secret 9 $9$V6lI7UNddSYy/N$NZHrwC3wdApPvemnGtNSv/LsakVCt9lyxWQ5jELF6K.
!
redundancy
!
no cdp run
!
! 
!
!
!
!
!
!
!
!
!
!
!
!
interface Loopback0
 description not connected
 ip address 1.1.1.1 255.255.255.255
 ip ospf 1 area 0
!
interface GigabitEthernet0/0
 description to port1.unmanaged-switch-0
 vrf forwarding MGMT
 ip address 198.18.180.102 255.255.192.0
 duplex auto
 speed auto
 media-type rj45
!
interface GigabitEthernet0/1
 description to GigabitEthernet0/2.iosv-1
 ip address 10.0.0.1 255.255.255.252
 ip flow ingress
 ip flow egress
 ip ospf 1 area 0
 duplex auto
 speed auto
 media-type rj45
!
interface GigabitEthernet0/2
 description to GigabitEthernet0/2.iosv-2
 ip address 10.0.0.5 255.255.255.252
 ip flow ingress
 ip flow egress
 ip ospf 1 area 0
 duplex auto
 speed auto
 media-type rj45
!
interface GigabitEthernet0/3
 description not connected
 no ip address
 shutdown
 duplex auto
 speed auto
 media-type rj45
!
router ospf 1
 router-id 1.1.1.1
!
ip forward-protocol nd
!
ip flow-export source GigabitEthernet0/0
ip flow-export version 5
ip flow-export destination 198.18.134.22 9996 vrf MGMT
ip flow-top-talkers
 top 10
 sort-by bytes
 cache-timeout 30000
!
no ip http server
no ip http secure-server
ip route vrf MGMT 0.0.0.0 0.0.0.0 198.18.128.1
ip ssh server algorithm authentication password
!
logging host 198.18.134.22 vrf MGMT transport udp port 5514
ipv6 ioam timestamp
!
snmp-server community CLUS25 RO
snmp-server chassis-id 
!
!
control-plane
!
banner exec ^C
**************************************************************************
* IOSv is strictly limited to use for evaluation, demonstration and IOS  *
* education. IOSv is provided as-is and is not supported by Cisco's      *
* Technical Advisory Center. Any use or disclosure, in whole or in part, *
* of the IOSv Software or Documentation to any third party for any       *
* purposes is expressly prohibited except as otherwise authorized by     *
* Cisco in writing.                                                      *
**************************************************************************^C
banner incoming ^C
**************************************************************************
* IOSv is strictly limited to use for evaluation, demonstration and IOS  *
* education. IOSv is provided as-is and is not supported by Cisco's      *
* Technical Advisory Center. Any use or disclosure, in whole or in part, *
* of the IOSv Software or Documentation to any third party for any       *
* purposes is expressly prohibited except as otherwise authorized by     *
* Cisco in writing.                                                      *
**************************************************************************^C
banner login ^C
**************************************************************************
* IOSv is strictly limited to use for evaluation, demonstration and IOS  *
* education. IOSv is provided as-is and is not supported by Cisco's      *
* Technical Advisory Center. Any use or disclosure, in whole or in part, *
* of the IOSv Software or Documentation to any third party for any       *
* purposes is expressly prohibited except as otherwise authorized by     *
* Cisco in writing.                                                      *
**************************************************************************^C
!
line con 0
 password cisco
line aux 0
line vty 0 4
 exec-timeout 720 0
 password cisco
 login local
 transport input telnet ssh
!
no scheduler allocate
!
end
